.container {
    position: relative;
    display: inline-block;

    .watermark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: 10;
    }
    
    .watermark p {
        pointer-events: none;
        user-select: none;
        margin: 0;
        padding: 0;
    }
}